<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pro">
 <select id="getBooks" resultType="b.BookBean">
  select * from ebook
 </select>
 
 <select id="getBook" parameterType="string" resultType="b.BookBean">
  select * from ebook where no=#{no}
 </select>
 
 <insert id="insertBook" parameterType="b.BookBean">
  insert into ebook(title, description, pubDate, coverSmallUrl, coverLargeUrl, publisher, author, translator) values(#{title}, #{description}, #{pubDate}, #{coverSmallUrl}, #{coverLargeUrl}, #{publisher}, #{author}, #{translator})
 </insert>
 
 <update id="updateBook" parameterType="b.BookBean">
  update ebook set title=#{title}, description=#{description}, pubDate=#{pubDate}, coverSmallUrl = #{coverSmallUrl}, coverLargeUrl = #{coverLargeUrl}, publisher=#{publisher}, author=#{author}, translator=#{translator} where no=#{no}
 </update>
 
 <delete id="deleteBook" parameterType="String">
  delete from ebook where no=#{no}
 </delete>
 
 
  <select id="getMembers" resultType="ArrayList">
  select * from member
 </select>
 
 <select id="getMember" parameterType="string" resultType="b.MemberBean">
  select * from member where no=#{no}
 </select>
 
 <insert id="insertMember" parameterType="b.MemberBean">
  insert into member(id, pwd, name, email, gaibil) values(#{id}, #{pwd}, #{name}, #{email}, date_format(now(), "%Y-%m-%d"))
 </insert>
 
 <update id="updateMember" parameterType="b.MemberBean">
  update member set pwd=#{pwd}, name=#{name}, email=#{email} where no=#{no}
 </update>
 
 <delete id="deleteMember" parameterType="String">
  delete from member where no=#{no}
 </delete>
</mapper>